a {
    text-decoration: none;
    color: #396;
}

a:hover {
    color: #FFF;
    background-color: #396;
}

body {
    margin: 0px 0px 0px 0px;
    color: #333;
}

h1 {
    font-family: Oswald, sans-serif;
    font-weight: 400;
    text-align: center;
}

h2 {
    font-family: 'Roboto Slab';
    font-size: 20px;
    text-align: left;
    font-style: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    text-align: center;
    display: block;
}

p {
    padding-bottom: 10px;
}

#bodyText {
    font-family: 'Roboto Slab';
    text-align: justify;
    font-size: 18px;
}


#header {
    background: url("pics/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 720px;
}

#headerText {
    font-family: Oswald, sans-serif;
    color: #FFF;
    padding-top: 270px;
    font-weight: 400;
    margin: auto;
    text-align: center;
    padding-left: 0;
}

#fullname {
    margin: 0px;
    letter-spacing: 12px;
    font-size: 80px;
    display: block;
    margin-left: -4px;
    padding-left: 14px;
    text-align: center;
}

.nav {
    text-align: center;
    width: 192px;
    color: #FFF;
    display: inline-block;
    font-size: 28px;
    background-color: #FFF;
    color: #333;
    border: none;
    font-family: Oswald, sans-serif;
    margin-right: 0px;
    line-height: 0;
    height: 40px;
}

.nav:hover {
    color: #FFF;
    background-color: #396;
}

.nav:focus {
    outline: none;
}

#main {
    margin: auto;
    padding: 20px;
    max-width: 650px;
}

#myself {
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
}

#chatbopPic {
    width: calc(100% - 6px);
    border: solid 3px #ccc;
    padding-top: 5px;
    padding-bottom: 5px;
}
#chatbopPic:hover {
    margin: 0;
    border-color: #396;
}

#footer {
    background-color: #396;
    height: 60px;
    text-align: center;
}

#footNav {
    font-family: Oswald, sans-serif;
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
    color: #FFF;
    width: 100px;
    height: 60px;
    vertical-align: middle;
    text-align: center;
    line-height: 58px;
}

#footNav:hover {
    color: #396;
    background-color: #FFF;
}

/* For landscape mobile */
@media screen and (max-width: 680px) {
    #bodyText {
        font-size: 15px;
    }
    #main {
        max-width: 378px;
    }
    #header {
        height: 350px;
    }
    #headerText {
        padding-top: 105px;
    }
    #fullname {
        font-size: 55px;
        letter-spacing: 7px;
        padding-left: 9px;
    }
    #nav {
        font-size: 28px;
        width: 126px;
    }
    #myself {
        width: 100px;
    }
    #footNav {
        font-size: 15px;
        width: 70px;
    }
}

/* For upright mobile */
@media screen and (max-width: 440px) {
    #header {
        height: 450px;
    }
    #headerText {
        padding-top: 79px;
    }
    #fullname {
        line-height: 65px;
        margin-bottom: 7px;
    }
    #nav {
        width: 180px;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 4px;
    }
    ul {
        padding: 0;
    }
}

button::-moz-focus-inner {
  border: 0;
}
