#upper {
    background: url("background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 720px;
}

#upperText {
    font-family: Oswald, sans-serif;
    color: #FFFFFF;
    padding-top: 280px;
    padding-left: 10%;
}



#fullname {
    font-weight: 400;
    margin: 0px;
    letter-spacing: 12px;
    font-size: 80px;
    display: block;
    margin-left: -4px;
}

#nav {
    text-align: center;
    width: 190px;
    font-weight: 400;
    color: #FFFFFF;
    display: inline-block;
    font-size: 32px;
    background-color: #FFFFFF;
    color: #333333;
}


#nav:hover {
    color: #FFFFFF;
    background-color: #339966;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0px 0px 0px 0px;
}

@media screen and (max-width: 1024px) {
    #upperText {
        margin: auto;
        text-align: center;
        padding-left: 0;
    }
    #fullname {
        padding-left: 14px;
    }
}

@media screen and (max-width: 680px) {
    #upper {
        height: 350px;
    }
    #upperText {
        padding-top: 105px;
    }
    #fullname {
        font-size: 55px;
        letter-spacing: 7px;
        padding-left: 9px;
    }
    #nav {
        font-size: 28px;
        width: 126px;
    }
}

@media screen and (max-width: 440px) {
    #upper {
        height: 450px;
    }
    #upperText {
        padding-top: 79px;
    }
    #fullname {
        line-height: 65px;
        margin-bottom: 7px;
    }
    #nav {
        width: 180px;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 4px;
    }
}
